{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <br>
    <h1>Genre index</h1>
<br>
    <a href="{{ path('genre_new') }}" style="margin-left: 90%"><i class="fas fa-plus-square fa-2x"></i></a>
    <br>
    <br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.nom }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(genres) }}
{% endblock %}
