{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Titre</th>
                <th>Nombre_pages</th>
                <th>Date_de_parution</th>
                <th>Note</th>
                {% if is_granted('ROLE_USER') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nombrePages }}</td>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
                <td>{{ livre.note }}</td>
                <td>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}">Create new</a>
{% endblock %}
