{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <br>
    <br>

    <h1>Livre index</h1>
    <br>

    {{ form_start(search) }}

    <div style="display: flex !important;">

            {{ form_row(search.titre) }}
        <div style="margin-left: 20px">
            {{ form_row(search.search) }}
        </div>

             <a href="{{ path('livre_new') }}" style="margin-left: 70%"><i class="fas fa-plus-square fa-3x"></i></a>

    </div>

    {{ form_end(search) }}
    <br>

    <table class="table">

        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Titre</th>
                <th>Nombre_pages</th>
                <th>Date de parution</th>
                <th>Note</th>
                {% if is_granted('ROLE_USER') %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nombrePages }}</td>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
                <td>{{ livre.note }}</td>
                <td>
                    {% if is_granted('ROLE_USER') %}
                    <a style="margin-right: 6px" href="{{ path('livre_show', {'id': livre.id}) }}"><i class="far fa-eye fa-lg"></i></a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}"><i class="fas fa-edit fa-lg"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<nav aria-label="Page navigation example">
    {{ knp_pagination_render(livres) }}
</nav>
{% endblock %}
