{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ livre.id }}</td>
        </tr>
        <tr>
            <th>Isbn</th>
            <td>{{ livre.isbn }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ livre.titre }}</td>
        </tr>
        <tr>
            <th>Nombre_pages</th>
            <td>{{ livre.nombrePages }}</td>
        </tr>
        <tr>
            <th>Date_de_parution</th>
            <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ livre.note }}</td>
        </tr>

        <tr>
            <th>Auteurs</th>
            <td>
                <ul>
                    {% for auteur in auteurs %}

                    <li>{{ auteur.nomPrenom }}</li>
                    {% endfor %}
                </ul>

            </td>
        </tr>

        <tr>
            <th>Genres</th>
            <td>
                <ul>
                    {% for genre in genres %}

                        <li>{{ genre.nom }}</li>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>

<div style="width: 300px; display: flex;justify-content:space-between; margin-left: 200px">
    <a href="{{ path('livre_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('livre_edit', {'id': livre.id}) }}"class="btn btn-warning">edit</a>

    {{ include('livre/_delete_form.html.twig') }}
</div>
{% endblock %}
