{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom_prenom</th>
                <td>{{ auteur.nomPrenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ auteur.sexe }}</td>
            </tr>
            <tr>
                <th>Date_de_naissance</th>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ auteur.nationalite }}</td>
            </tr>
        </tbody>
    </table>


    <h1>Livre</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Isbn</th>
            <th>Titre</th>

        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nombrePages }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div style="width: 300px; display: flex;justify-content:space-between; margin-left: 200px">
    <a href="{{ path('auteur_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-warning">edit</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
